#body {
    background-image: url(../images/slide4.webp);
    font-family: $font;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: .05rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color-light);
    letter-spacing: .05rem;
}

.p-6 {
    padding: 4rem 7rem;
}

.contact-box {
    padding: 4rem;
}

// .btn {
//     font-weight: 400;
//     padding: 1rem 2rem;
//     border-radius: 5rem;
//     min-width: 10rem;
// }

.btn {
    background-color: $colort;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}


.form-control {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.centrado {

    position: absolute;
    margin: auto;

}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .register-bg {
        min-height: 50vh;
    }
}

// @media (min-width: 1200px)
// .container, .container-lg, .container-md, .container-sm, .container-xl {
//     max-width: 1140px;
// }
@media (max-width: 685px) {
    .btn {
        display: none;
    }
}

@media (max-width: 685px) {
    h1.font-weight-bold {
        font-size: 28px;
        color: pink;
        padding-top: 40px;
    }
}